{% extends 'layouts/main.html' %}
{% block title %}Fyyur | Show Search{% endblock %}
{% block content %}
<h3>Number of search results for "{{ search_term }}": {{ results.count }}</h3>
<ul class="items">
	{% for show in results.data %}
	<li>
		<a href="/shows/{{ show.id }}">
			<i class="fas fa-music"></i>
			<div class="item">
                <h5>{{ show.venue_id }}</h5>
                <h5>{{ show.artist_id }}</h5>
                <h5>{{ show.start_time }}</h5>
			</div>
		</a>
	</li>
	{% endfor %}
</ul>
    <!-- <div class="page-header">
        <h1>Fyyur Search!</h1>
    </div>
    <p class="lead"> Show Search </p>

    <ul class="nav nav-pills">
        <li class="active"><a>Shows</a></li>
    </ul> -->

{% endblock %}

